<h2>{{celebrity.name}}</h2>
<p>Movie: {{celebrity.movie.title}}</p>
<p>Occupation: {{celebrity.occupation}}</p>
<p>Catch Phrase: {{celebrity.catchPhrase}}</p>
<hr>
<a href="/celebrities">Return to list of drags</a>